@use './variable' as *;

footer {
  width: 100%;
  height: auto;
  color: $color-3;
  background-color: $color-1;
  padding: 20px 0;

  & .boxes {
    display: flex;
    justify-content: center;

    & .box {
      flex-basis: 25%;
      padding: 10px 20px;

      & h2 {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }

      & .content {
        margin-top: 20px;

        & .social-media-links {
          margin-top: 20px;

          & a {
            padding: 5px;

            & i {
              width: 40px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              color: $color-1;
              font-weight: 700;
              background-color: $color-3;
              font-size: 20px;
              border-radius: 50%;

              &:hover {
                color: $color-3;
                background-color: $color-1;
              }
            }
          }
        }
      }
    }

    & .center {
      & .phone,
      & .email {
        display: flex;
        align-items: center;

        & span {
          font-size: 17px;
          font-weight: 600;
        }
      }

      & i {
        padding-right: 5px;
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    & .right {
      & .content form {
        display: flex;
        flex-direction: column;

        & .field {
          display: flex;
          flex-direction: column;

          & label {
            font-size: 17px;

            & span {
              color: red;
            }
          }

          & input {
            height: 35px;
            outline: none;
            font-size: 17px;
            font-weight: 600;
            border-radius: 5px;
            padding-left: 5px;
            margin-bottom: 5px;

            &::placeholder {
              color: $color-5;
              font-size: 17px;
              font-weight: 500;
            }
          }

          & textarea {
            font-size: 17px;
            outline: none;
            padding-left: 5px;

            &::placeholder {
              font-size: 17px;
            }
          }
        }
      }

      & button {
        cursor: pointer;
        outline: none;
        text-align: center;
        font-size: 19px;
        font-weight: 600;
        padding: 12px;
        color: $color-3;
        background: $color-5;
        margin-top: 10px;
        border: none;
      }
    }
  }
}
