@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

// font-family
$roboto: 'Roboto', sans-serif;

$color-1: #320c09;
$color-2: #eedb73;
$color-3: #fff;
$color-4: #ccc4c3;
$color-5: #222;
